html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.invalid-feedback { font-size:11px !important; }

:root{
    --primary:#F41CB2;--primary-light:#e7f6fd;--secondary:#6c757d;--white:#fff;--black:#212529;--gray:#6c757d; 
    --primary-dark:#ca0d90;
    --green:rgb(3, 166, 133); --green-dark:#137c51; --orange:orangered; 
    --gray-light:#efeeee; --gray-dark:#e5e5e5; --success:#198754;--info:#0dcaf0;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;
    --body-font:"Manrope", sans-serif;    
    --title-h1:"Playfair Display", serif;
    --bs-gradient:linear-gradient(180deg,#ffffff26,#fff0);    
    --body-font-size:.88rem;
    --body-font-weight:400;
    --bs-body-line-height:1.55;
    --bs-body-color:#212529;
    --body-bg:#fff
}

.invalid-feedback { font-size:11px !important; }

body { font-size:13px !important;}
.form-control, .form-select { font-size: 13px !important; border-radius: 4px !important;}
label { font-size: 12px !important; margin-bottom: 2px !important; color: #666;}
.btn { border-radius: 4px !important; }

body.modal-open {
    padding-right: 0 !important;
}

.sprites{background:url(../images/sprites.svg) no-repeat; display: block;}

.wishlist-icon span { background-position:0 -105px; height: 25px; width: 25px; }
.wishlist-icon:hover span { background-position:-26px -105px; }
.back-icon span { background-position:0 -55px; height: 25px; width: 25px; }
.back-icon:hover span { background-position:-26px -55px; }
.delete-icon span { background-position:-151px -30px; height: 22px; width: 17px; }
.delete-icon:hover span { background-position:-173px -30px; }

.add-icon, .sub-icon { background-color: #eeeeee; border-radius: 100px; padding:5px;}
.add-icon span { background-position:-49px -82px; height: 21px; width: 21px; }
.sub-icon span { background-position:-68px -82px; height: 21px; width: 21px; }

.tab1_icon { background-position: -89px -83px; height: 22px; width: 27px; }
.tab2_icon { background-position: -116px -83px; height: 22px; width: 24px; }
.tab3_icon { background-position: -140px -83px; height: 22px; width: 22px; }

.views-icon { background-position: -17px 0; height: 22px; width: 20px; }
.likes-icon { background-position: 0 0; height: 22px; width: 17px; }
.time-icon { background-position: -36px 0; height: 22px; width: 17px; }
.comments-icon { background-position: -52px 0; height: 22px; width: 17px; }

.like-icon-big span { background-position: -308px -134px; height: 22px; width: 22px; margin: 0 auto;  }
.like-icon-big:hover span { background-position: -308px -167px; }
.like-icon-big-filled span { background-position: -359px -27px; height: 22px; width: 22px; margin: 0 auto;  }
.notify-icon span { background-position: -329px -134px; height: 22px; width: 22px; margin: 0 auto; }
.notify-icon:hover span { background-position:-329px -167px;}
.save-icon span { background-position: -351px -134px; height: 22px; width: 22px; margin: 0 auto;}
.save-icon:hover span { background-position:-351px -167px;}
.copy-icon span { background-position: -372px -134px; height: 22px; width: 22px; margin: 0 auto; }
.copy-icon:hover span { background-position:-372px -167px;}

.user-icon span { background-position: -277px -126px; height: 34px; width: 28px; }
.user-icon:hover span { background-position: -277px -160px; }

.bag-icon span { background-position:-224px -126px; height: 33px; width: 25px; }
.bag-icon:hover span { background-position:-224px -160px;}
.search-icon { background-position:-251px -126px; height: 33px; width: 24px; }
.search-icon span { background-position:-251px -126px; height: 33px; width: 24px; }
.search-icon:hover span { background-position:-251px -160px;}

.wishlist-ico-btn { background-position:-69px 0; height: 20px; width: 20px;}
.added-wishlist-ico-btn { background-position:-89px 0; height: 20px; width: 20px;}
.star-ico { background-position:-110px 0; height: 18px; width: 12px;}
.star-big-ico { background-position:-117px 0; height: 25px; width: 25px;}
.cart-small-ico { background-position:-152px -2px; height: 23px; width: 20px;}
.tick-icon { background-position:-175px 0; height: 17px; width: 17px;}
.arrow-r { background-position:-220px 0; height: 17px; width: 17px;}

.thumb-icon { background-position:-356px -26px; height: 25px; width: 25px; }
.list-icon { background-position:-135px -61px; height: 21px; width: 21px; margin: 5px auto; }
.exchange-icon { background-position:-113px -62px; height: 21px; width: 21px; margin: 5px auto; }
.reviews-icon { background-position:-157px -60px; height: 25px; width: 25px; margin: 5px auto; }
.green-star-icon { background-position:-379px 0; height: 21px; width: 21px; margin-top: 21px; }


.empty-order { background-position:-6px -127px; height: 66px; width: 67px; margin: 0 auto;}
.razorpay-payment-button { width: 100%; padding: 10px 20px; background-color: #001d3d; color: #fff; border-radius: 5px; font-size: 1rem;; }
.razorpay-payment-button:hover { background-color: #f7ca0d; border-color: #f7ca0d; }

.menu-products-section .menu-product__item {
  background-color: var(--ik-product-bg-color);
  color: var(--ik-product-bg-high-contrast-color);
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(20px);
}

.menu-products-section .menu-product__item__ordered_qty {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--ik-accent-color);
  color: var(--ik-accent-contrast-color);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px 3px #0000004d;
  z-index: var(--ik-product-edit-toolbar-z-index);
}

.menu-products-section .wishlist {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #eeeeee; 
  width: 25px; padding:0 5px;
  height: 25px; 
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  z-index: 1;
}

.btn--icon--xsm>svg {
  width: 12px;
  height: 12px;
}

.menu-products-section .menu-product__item__name {
  font-size: var(--ik-font-size-productTitleFont, .9rem);
}

.menu-products-section .menu-product__item__price {
  font-size: .9rem;
}

.no-wrap {
  white-space: nowrap;
}
.menu-products-section .menu-product__item__ordered_qty {
  position: absolute;
  top: 0;
  left: 0;
  background-color: green;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px 3px #0000004d;
  z-index: 1;
}

.product-home { padding: 0; position: relative; background-color: #fafafa; margin-bottom: 15px;}
.product-home .whishlist { position: absolute; top:5px; right:5px; padding: 1px; text-align: center; background-color: #eeeeee; border-radius: 100px; height: 25px; width: 25px; ;}
.product-home .whishlist svg { width: 13px; height: 13px;}
.product-home .mainPic { height: 120px; overflow-y: hidden;}
.product-home  .product-title { padding:10px; background-color: #fafafa;}

.cartWrapper { border-top: 3px dashed #eeeeee; border-bottom: 3px dashed #eeeeee; margin-top: 10px; padding: 10px 0; width: 100%;  }
.btn--icon { font-size: inherit; text-transform: initial; background: white; color: #444; padding: 3px; border-radius: 99999px; display: flex ; align-items: center; border: none; cursor: pointer; justify-content: center; background-color: #eeeeee; color: #333333; margin: 0 3px; }
.btn--icon>svg { width: 20px; height: 20px; }

.basket-page__content__notes textarea { padding: 15px; width: 100%; box-sizing: border-box; height: 70px; background-color: #eeeeee; color: #333333; border-radius: 6px; font-size:14px; border:1px solid transparent; }
.basket-page__content__notes textarea:focus { border:1px var(--black) solid;}

.fillRequired { color: #c4103f; margin-top: 10px;}

.product-card { padding: 10px 15px 250px 15px; display: inline-block; overflow-y: auto; margin-top: 5px;}
.productOverflow { overflow-x: auto; display: flex; }
.productOverflow .products { text-align: center; margin: 0 5px; display: block; }
.productOverflow .products{ color:#666;}
.productOverflow .products:hover { color:#000; }
.productOverflow .products .pic { background-color: #f7ca0d; border-radius: 15px; }
.productOverflow .products .pic img { height: 75px; width: auto;}
.productOverflow .products p { width: 100%; margin-top: 5px;}

/* .modal-backdrop.show { opacity: 0 !important; display: none !important;} */

.emptyBag { text-align: center; display: inline-block; padding:20px; width: 100%; }
.emptyBag img { width: 150px; margin-bottom: 20px;}
.emptyBag h5 { font-size: 18px;}
.emptyBag h2 { font-size: 15px; padding:10px 30px; border-radius: 100px; box-shadow: 0 0 30px #0006; background-color: gray; color:#fff; margin-top: 50px; display: inline-block; text-transform: uppercase; font-size: 18px;}

.right { float: right;}

.menuContainer { position: relative;}
.menuContainer .btn-close { background-color: #ccc; padding:15px; border-radius: 100px;}
.menuContainer .link { background-color: rgb(240, 240, 240); color: rgb(204, 204, 204); padding:9px 7px; border-radius: 100px; display: block; height: 42px; width: 42px;}
.menuContainer .link svg { width: 28px; height: 28px; }
.menuContainer .product-pic { height: 250px; overflow-y: hidden;}
.menuContainer .product-pic img { width: 100%; height: 100%; object-fit: cover; }
.menuContainer .btnControl { position: absolute; top:0px; left:0; width: 100%; padding: 15px;}
.menuContainer .btnControl a { background-color: var(--white); height: 45px; width: 45px; border-radius: 100px; display: block; padding: 9px; text-align: center; }
.menuContainer .product-title { background-color: #fafafa; padding:20px; display: flex; justify-content:space-between}
.menuContainer .product-title h2 { font-size: 16px; }
.menuContainer .product-title .product-add { position: relative; right:0; top:15px; border-radius: 100px; text-align: center; padding:11px; display: block; width: 55px; height: 55px; color:#fff; background: #24ae43; box-shadow: 0 4px 4px #00000040; }
.menuContainer .product-title  .product-price { float: right; font-size: 16px;}
.menuContainer .product-details { position: relative; padding: 25px; color: #666;}
.menuContainer .product-details .product-add { position: absolute; right:20px; top:-15px; border-radius: 100px; text-align: center; padding:11px; display: block; width: 55px; height: 55px; color:#fff; background: #24ae43; box-shadow: 0 4px 4px #00000040; }
.menuContainer .product-details .add-controls { position: absolute; right:20px; top:-15px; display: flex; column-gap: 10px; color:#fff; background: #24ae43; box-shadow: 0 4px 4px #00000040; border-radius: 100px; }
.menuContainer .product-details .products-sub { border-radius: 100px; text-align: center; padding:13px; display: block; width: 55px; height: 55px; color:#fff; background: #24ae43; box-shadow: 0 4px 4px #00000040; }
.menuContainer .product-details .products-sub .sprites { background-position: -110px -105px; height:30px; width: 30px; }
.menuContainer .product-details .products-add { border-radius: 100px; text-align: center; padding:13px; display: block; width: 55px; height: 55px; color:#fff; background: #24ae43; box-shadow: 0 4px 4px #00000040;  }
.menuContainer .product-details .products-add .sprites { background-position: -78px -105px; height:30px; width: 30px; }
.menuContainer .product-details .manage-qty { padding: 20px 5px; text-align: center; font-size: 14px;}


/* Start position (hidden state) */
.modal.fade .modal-dialog {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.3s ease;
}

/* Visible state */
.modal.show .modal-dialog {
    transform: translateY(0);
    opacity: 1;
}

.modal-dialog {
    margin: 0;
    min-height: 100%;
    display: flex;
    align-items: flex-end; /* pushes modal to bottom */
}

.modal-content {
    border-radius: 16px 16px 0 0;
}

.modal-backdrop.show {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
/* css for tab */


.orderBottom .nav-tabs .nav-link { color: #666; border: none !important; padding: 12px;}
.orderBottom .nav-tabs .nav-link.active { 
  background: #ebeaea;
  color: green;  border: none !important; }



/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.basket-page__content__terms {
  margin-top: 20px;
  font-size: .8rem;
  opacity: .7;
}

.basket-page__content__delivery-content__table select {
  padding: 10px;
  border: 0;
  background-color: #eee;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-size: .9rem;
  border-radius: 4px;
}

.basket-page__content__delivery-content__table {
  width: 100%;
}

.basket-page__content__delivery-content__table td {
  padding: 5px 0;
  font-size: .9rem;
}
.basket-page__content__delivery-content__table select:invalid, .basket-page__content__delivery-content__table select.invalid {
  background-color: #f3e8b0;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0,50px);
}
.modal-dialog {
  position: fixed !important;
  bottom: 0 !important;
  left: 0% !important;
  right: 0% !important;
  margin-bottom: 0 !important;
      
} 

.modal.show .modal-dialog {
    transform: none;
}

.modal-content {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
}


@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

:root {
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
  color: #56688a;
  background: #fafafa;
}

.material-symbols-outlined {
  font-size: 24px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 40;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: #ffffff;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.1));
  display: flex;
  justify-content: center;
}

.bottom-bar__list {
  flex-basis: 32rem;
  display: flex;
  position: relative;
  cursor: pointer;
}

.bottom-bar__active-indicator {
  width: 20%;
  position: absolute;
  display: flex;
  justify-content: center;
  transform: translate(0, -0.5rem);
  pointer-events: none;
  transition: transform 0.3s var(--easing);
}

.bottom-bar__active-indicator::before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: #d9dbf1;
  border-radius: 1.5rem;
  border: 4px solid white;
}

.bottom-bar__active-indicator.active--1::before {
  animation: Stretch 0.18s linear;
}
.bottom-bar__active-indicator.active--2::before {
  animation: Stretch2 0.2s linear;
}
.bottom-bar__active-indicator.active--3::before {
  animation: Stretch3 0.2s linear;
}
.bottom-bar__active-indicator.active--4::before {
  animation: Stretch4 0.225s linear;
}

.bottom-bar__active-indicator.active-left::before {
  transform-origin: center right;
}

.bottom-bar__active-indicator.active-right::before {
  transform-origin: center left;
}

.bottom-bar__link {
  flex: 1;
  font-size: 0.675rem;
  font-weight: 300;
  letter-spacing: 0.025rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  z-index: 2;
}

.bottom-bar__link.selected {
  font-weight: 500;
  letter-spacing: 0.0125rem;
  color: #1e2133;
}

.bottom-bar__link.selected .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
  font-size: 24px;
  transform: translateY(-0.25rem);
  transition: color 0.2s 0.1s ease-in-out, transform 0.3s var(--easing),
    font-variation-settings 0.2s 0.1s ease-in-out;
}


@keyframes Stretch {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(2.25, 0.65);
    border-radius: 1.25rem;
  }
  0% {
    transform: scale(1, 1);
  }
}

@keyframes Stretch2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(2.75, 0.625);
    border-radius: 1.125rem;
  }
  0% {
    transform: scale(1, 1);
  }
}

@keyframes Stretch3 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(3.5, 0.6);
    border-radius: 1.125rem;
  }
  0% {
    transform: scale(1, 1);
  }
}

@keyframes Stretch4 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(4.5, 0.55);
    border-radius: 1.125rem;
  }
  0% {
    transform: scale(1, 1);
  }
}


.radio-card input { display: none; }
.radio-card label {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.radio-card input:checked + label {
    border-color: #0d6efd;
    background: #e7f1ff;
    color: #0d6efd;
}

.custom-radio {
    display: flex; margin-right: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    gap: 5px;
}

/* Hide default radio */
.custom-radio input {
    display: none;
}

/* Custom circle */
.radio-mark {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    transition: 0.3s;
}

/* Inner dot */
.radio-mark::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--green);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s;
}

/* Checked state */
.custom-radio input:checked + .radio-mark { border-color: var(--green); }
.custom-radio input:checked + .radio-mark::after { transform: translate(-50%, -50%) scale(1); }
.custom-checkbox { display: flex; align-items: center; cursor: pointer; gap: 8px;    }
.custom-checkbox input { display: none; }
.checkmark { width: 16px; height: 16px; border: 1px solid #ccc; border-radius: 3px; position: relative; transition: 0.3s; }

/* Check icon */
.checkmark::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    top: 0px;
    left: 5px;
    transform: rotate(45deg) scale(0);
    transition: 0.3s;
}

/* Checked state */
.custom-checkbox input:checked + .checkmark { background: var(--green); border-color: var(--green); }
.custom-checkbox input:checked + .checkmark::after { transform: rotate(45deg) scale(1); }


#sticky-header { top: 0; width: 100%; transition: transform 1s ease; background-color: #fff; color:#333; z-index: 10; will-change: transform; contain: content; }
.header { padding: 5px 20px; display: flex; align-items: center; gap: 10px; }
.header .btn { background-color: #f5f5f5; color: #333; box-shadow: 1px 1px 3px #0000004d; }

.categories-section { overflow-x: auto; margin-top: 70px; overflow-y: hidden; }
.categories-section__container {
  display: flex; padding: 0 10px; column-gap: 10px;
  flex-wrap: nowrap;
  align-items: stretch;
}

.categories-section .menu-category {  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}
.categories-section .menu-category__img img { width: 45px; height: 45px; border-radius: 5px; }
.categories-section .menu-category__highlight {
  background-color: var(--ik-header-highlight-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  will-change: transform;
  display: none;
}

.categories-section .menu-category__img li { text-align: center; }
.categories-section .menu-category__img li p { font-size: 12px; margin-top: 3px; }
.categories-section .menu-category__img li a.menu_active,
.categories-section .menu-category__img li a.home_active { background-color: var(--green-dark); border-radius: 5px; padding: 4px; display: block; }
 


.categories-section .menu-category__name { font-size: 1rem; display: flex; }

.categories-section .menu-category__name a { text-decoration: none; font-size: 12px; }
.page-header { background-color: #fff; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
.page-header.is-sticky { position: fixed; animation: slideDown 0.35s ease-out; height: 105px; width: 450px; z-index: 99; }
.page-header.is-sticky .logo { display: none; }


.menu-content {
 
  background-color: var(--ik-header-bg-color);
  contain: content;
}

.menu-products-section { padding: 15px 10px; position: relative; }
.menu-products-section .menu-grid { display: grid; grid-template-columns: repeat(2, 48.5%); gap: 10px 15px; }

.menu-products-section .menu-product__item {
  background-color: var(--ik-product-bg-color);
  color: var(--ik-product-bg-high-contrast-color);
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(20px);
}

.menu-product__item__toolbar { position: absolute; top: 0; left: 0; right: 0; display: flex; z-index: 1; padding: 6px 10px;  }
.menu-products-section .menu-product__item__img {
  height: 130px;
  position: relative;
}

.menu-products-section .menu-product__item__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
}

.menu-products-section .menu-product__item__top-block { display: flex; padding: 8px 0; justify-content: space-between; }

#sticky-header {
  position: absolute;
  top: 0;
  width: 100%;
  transition: transform 1s ease;
  background-color:#fff;
  color: var(--ik-header-bg-high-contrast-color);
  z-index: 2;
  will-change: transform;
  contain: content;
}

.categories-section .menu-category__img a { text-decoration: none; padding: 5px; display: block; }

.menu-content {
  overflow-y: auto;
  background-color:#fff;
  contain: content;
}

.menu-products-section .menu-product__item__name { font-size:12px; color: #666; text-decoration: none;}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-products-section .menu-product__item__price { font-size: .8rem; margin-top: 5px; }

.basket-page__content__total {
  display: flex
;
  border-bottom: 3px dashed var(--ik-bg-low-contrast-color);
  padding: 10px 0;
  font-size: 1.3rem;
}
.menu-products-section .menu-product__item__price-bottom, .menu-products-section .menu-product__item__description {
  display: none;
}




.flex { display: flex; column-gap: 5px;}
.flex-justify { display: flex; justify-content: space-between;}

.basket-page__content__total { display: flex; border-bottom: 3px dashed #eee; justify-content: space-between; padding: 13px 0; font-size: 16px; margin-bottom: 10px; }
.basket-page__content__delivery { text-align: right; margin-bottom: 10px; color: var(--gray); }

.pull-right { float: right; }
.vegContainer .btn-group { width: 100%; display: flex; font-size: 14px;}
.vegContainer .btn-group .btn { background-color: #ffffff; border-width: 2px;}
.vegContainer .btn-group .active { border:2px green solid; color: green; }
.vegContainer .btn-group .innerView { display: flex; justify-content:space-evenly;}
.vegContainer .btn-group .innerView img { width: 20px;}


.basket-order-button-container { display: flex ;
  justify-content: center;
  bottom: 10px;
  padding: 5px 0;
  left: 0;
  right: 0;
  z-index: calc(var(--ik-basket-z-index) + 1);
  will-change: transform;
}

.basket-page__content__order-btn--disabled {
  box-shadow: 0 0 30px #0006;
  background-color: gray; border: none;
  cursor: pointer;
  padding: 5px 20px;
  font-size: 1.2rem;
  border-radius: 100px !important; color: #fff; text-transform: uppercase;
  
  
}

.basket-page__content__delivery-content__table input[type=text]:invalid, .basket-page__content__delivery-content__table input[type=text].invalid, .basket-page__content__delivery-content__table input[type=tel]:invalid, .basket-page__content__delivery-content__table input[type=tel].invalid, .basket-page__content__delivery-content__table input[type=email]:invalid, .basket-page__content__delivery-content__table input[type=email].invalid {
  background-color: #f3e8b0;
}

.basket-page__content__delivery-content {
  padding: 0;
}

.basket-page__content__products {
  border-top: 3px dashed #eee;
  border-bottom: 3px dashed #eee;
  margin-top: 10px;
  padding: 10px 0; justify-content: center;
}

.basket-page__content__delivery-content__table input[type=text], .basket-page__content__delivery-content__table input[type=tel], .basket-page__content__delivery-content__table input[type=email] {
  background-color: var(--ik-bg-low-contrast-color);
  color: var(--ik-bg-high-contrast-color);
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 0;
  font-size: .9rem;
  border-radius: 4px;
}

.center { text-align: center;}

.menu-product__item__toolbar .btn--icon--active svg {
  fill: red;
  stroke: none;
}
.btn--icon--active svg {
  fill: red;
  stroke: none;
}

.subcategories-section {
  padding: 10px;
  display: flex
;
  flex-wrap: wrap;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: var(--ik-header-bg-second-color);
}

.subcategories-section__item--active {
  background-color: var(--ik-header-bg-high-contrast-color);
  color: var(--ik-header-bg-low-contrast-color);
}

.subcategories-section__item {
  cursor: pointer;
  border-radius: 35px;
  padding: 7px 10px;
  margin: 3px 5px;
  font-size: .95rem;
  will-change: transform;
  border: none;
  background-color: var(--ik-header-bg-low-contrast-color);
  color: var(--ik-header-bg-high-contrast-color);
  box-shadow: 1px 1px 1px #0003;
  max-width: 300px;
  display: flex
;
}




#sticky-header {
  position: absolute;
  top: 0;
  width: 100%;
  transition: transform 1s ease;
  background-color: var(--ik-header-bg-color);
  color: var(--ik-header-bg-high-contrast-color);
  z-index: var(--ik-sticky-header-z-index);
  will-change: transform;
  contain: content;
}

 .app-wrapper { max-width: 450px; overflow-x: hidden; margin: 0 auto; min-height: 100vh; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
 .modal-dialog { max-width: 450px; margin: auto; }
 .modal-backdrop { position: absolute; width: 450px; left: 50%; transform: translateX(-50%); }
 
.bottom-sheet { position: fixed; left: 50%; bottom: 50px; transform: translateX(-50%); width: 100%; max-width: 450px; z-index: 9999;}

.sheet-content {
    position: absolute;
    bottom: 0; 
    width: 100%; background-color: var(--white);      
    height: 70%;
    border-radius: 15px 15px 0 0;
    transform: translateY(90%); /* show only 10% */
    transition: transform 0.3s ease;
    pointer-events: auto;
}
.sheet-overlay {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 450px;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1040;
}

.active_bottom { height: 100%;}
.active_bottom .sheet-content { z-index: 1050 !important; }
.active_bottom .sheet-overlay { display: block !important; opacity: 1 !important; visibility:visible !important;}

/* open state */
.scroll-order { overflow-y: scroll; padding: 20px; height: 400px;}
.bottom-sheet.active_bottom .sheet-content { transform: translateY(0); }
.handle { width: 100%; cursor: pointer; display: flex; justify-content: space-between; color:#fff; background-color: #111111; padding:20px 20px 15px 20px; color:#fff; border-radius: 15px 15px 0 0; font-size: 15px; }

.nav-justified .nav-item .nav-link { padding: 12px; text-transform: uppercase; color: var(--black); }
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link { color: var(--green-dark); background-color: var(--gray-light); }

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.custom-tabs { list-style: none; display: flex; justify-content: space-between; padding: 0; }
.custom-tabs li { padding: 13px 30px; cursor: pointer; text-transform: uppercase; border-radius: 5px;  }
.custom-tabs li.active { color: var(--green-dark); background-color: var(--gray-light); }